.Table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.TableData {
  width: 80%;
  overflow-x: auto;
}

.TableData table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  table-layout: fixed;
  width: 100%;
}

.TableData table tbody {
  width: 900px;
}

.TableData table td,
.TableData table tr {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
  height: 35px;
}


.TableData table th {
  text-align: center;
  height: 50px;
}

.TableData table tr:nth-child(even) {
  background-color: #dddddd;
}

.TableData table tr:nth-child(odd) {
  background-color: white;
}


.Table .Scores {
  display: flex;
  padding-left: 20px;
  position: relative;
}

.Table input {
  width: 8%;
  height: 20px;
  outline: none;
  margin: 0 10px;
}

.Schedule input {
  width: 15%;
  height: 20px;
  outline: none;
  margin: 0 10px;
}

.Table .SubmitButton,
.Table .EditButton {
  padding: 10px 15px;
  background-color: #00adb5;
  border: none;
  color: white;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.SubmitButton:hover,
.EditButton:hover {
  transform: translateY(-1px);
}

.SubmitButton:active,
.EditButton:active {
  transform: translateY(0);
}

/* .SubmitButton:disabled{
  background-color: #c2e3e4;
} */


.Schedule {
  display: none;
  flex-direction: column;
  width: 100%;
}

.Schedule h2 {
  text-align: center;
}

.eachSchedule {
  width: 80%;
  align-self: center;
  background-color: white;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 5px;
}

.eachSchedule .Scores {
  display: block;
}

.eachSchedule .SubmitButton,
.eachSchedule .EditButton {
  padding: 10px 15px;
  background-color: #00adb5;
  border: none;
  color: white;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  width: 80%;
  margin: 15px 30px;
}

@media (max-width:850px) {
  .Schedule {
    display: flex;
  }

  .Table {
    display: none;
  }
}